/* .custom-card-header {
  background-color: #007bff; /* Change this to your desired color */
  color: #e62525; /* Optional: Change text color if needed */
}

.button-group {
  display: flex;
  gap: 10px; /* Space between the buttons */
}
 */


.custom-card-header {
  background-color: #007bff; /* Change this to your desired color */
  color: #e62525; /* Optional: Change text color if needed */
}

.button-group {
  display: flex;
  gap: 10px; /* Space between the buttons */
}


.scroll-container {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 10%;
    }
    .scroll-container .card {
      flex: 0 0 auto;
      margin-right: 15px;
    }
    .scrollable-card-body {
      max-height: 200px; /* Adjust as needed */
      overflow-y: auto;
    }

.search-box {
  margin-bottom: 20px; /* Adjust the value as needed */
}
